<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>ACT ACCOUNT</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="../views/index.html" class="nav-branding">ACT</a>
                <div class="nav-menu">
                    <div class="nav-menu">
                        <div class="nav-item">
                            <a href="../views/accountDetails.html" class="nav-link">ACCOUNT DETAILS</a>
                        </div>
                    </div>
                </div>
            </nav> 
        </header>
        <main>
            <div class="container">
                <h2>This is the account details page.</h2>
                <a href="../views/index.html" class="heroButton">Go Home</a>
            </div>
        </main>
        <footer>
            <div class="footerBottom">
                <p>Copyright &copy;2023; Designed by <span class="designer">Nichita, Daniel, Alex, Wiktor</span></p>
            </div>
        </footer>
    </body>
</html>