<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>ACT CLIENTS</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="../views/index.html" class="nav-branding">ACT</a>
                <div class="nav-menu">
                    <div class="nav-menu">
                        <div class="nav-item">
                            <a href="../views/accountDetails.html" class="nav-link">ACCOUNT DETAILS</a>
                        </div>
                    </div>
                </div>
            </nav> 
        </header>
        <main>
            <div class="container">
                <h2>Client #XX</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Icon</th>
                            <th>Technology Share</th>
                            <th>Future Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>📱</td>
                            <td>Tech Company A</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <td>💻</td>
                            <td>Tech Company B</td>
                            <td>$200</td>
                        </tr>
                    </tbody>
                </table>
                <a href="./report.html" class="heroButton">Financial Report</a>
            </div>
        </main>
        <footer>
            <div class="footerBottom">
                <p>Copyright &copy;2023; Designed by <span class="designer">Nichita, Daniel, Alex, Wiktor</span></p>
            </div>
        </footer>
    </body>
</html>