<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACT</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
    <body>
        <header>
            <nav class="navbar">
                <a href="../views/index.html" class="nav-branding">ACT</a>
                <div class="nav-menu">
                    <div class="nav-item">
                        <a href="../views/login.html" class="nav-link">LOG IN</a>
                    </div>
                </div>
            </nav> 
        </header>
        <main>
            <div class="container">
                <h1>Agentic Corporate Trader</h1>
                <p>Description...</p>
                <a href="../views/login.html" class="heroButton">LOGIN</a>
            </div>
        </main>
        <footer>
            <div class="footerBottom">
                <p>Copyright &copy;2023; Designed by <span class="designer">Nichita, Daniel, Alex, Wiktor</span></p>
            </div>
        </footer>
    </body>
</html>