<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/style.css">
        <title>ACT LOGIN</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="../views/index.html" class="nav-branding">ACT</a>
                <div class="nav-menu">
                    <div class="nav-item">
                        <a href="/login" class="nav-link">LOG IN</a>
                    </div>
                </div>
            </nav> 
        </header>
        <main>

        </main>
    </body>
</html>